Repository angular/vscode-ng-language-service, pull requests merged in 2024-07, with the labels that each got.

#1953 Syntax cleanup
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  package.json
  syntaxes/inline-template.json
  syntaxes/src/inline-template.ts
Labels: target: minor, action: merge

#2049 build: prep for 18.1
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE5NDc2NjEwNDI=
  .nvmrc
  integration/lsp/ivy_spec.ts
  integration/project/package.json
  integration/project/pnpm-lock.yaml
  integration/project/yarn.lock
  package.json
  pnpm-lock.yaml
  server/package.json
  server/src/session.ts
  yarn.lock
Labels: area: build & ci

#2052 build: release for 18.1
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  CHANGELOG.md
  package.json
  server/package.json
Labels: target: minor, action: merge, area: build & ci

#2055 chore: update node types.
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  package.json
  pnpm-lock.yaml
  syntaxes/src/inline-styles.ts
  syntaxes/src/inline-template.ts
  syntaxes/src/template-tag.ts
  tsconfig.json
  yarn.lock
Labels: target: minor, action: merge

#2058 fix(syntaxes): inject template tags to top-level source.ts
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  package.json
  syntaxes/inline-template.json
  syntaxes/src/inline-template.ts
  syntaxes/test/data/inline-template.ts.snap
Labels: target: minor, action: merge

#2059 fix(syntaxes): inject template tags to top-level source.ts (#2058)
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  package.json
  syntaxes/inline-template.json
  syntaxes/src/inline-template.ts
  syntaxes/test/data/inline-template.ts.snap
Labels: target: patch, action: merge

#2057 chore: update node types. (#2055)
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  package.json
  pnpm-lock.yaml
  syntaxes/src/inline-styles.ts
  syntaxes/src/inline-template.ts
  syntaxes/src/template-tag.ts
  tsconfig.json
  yarn.lock
Labels: target: patch, action: merge

#2061 build: release 18.1.1
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/package.json
  yarn.lock
Labels: target: patch, action: merge, area: build & ci

#2063 fix(syntaxes): add back block syntaxes to injection for entire TS file
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  package.json
  syntaxes/inline-template.json
  syntaxes/src/inline-template.ts
Labels: target: minor, action: merge

#2065 fix(syntaxes): add back block syntaxes to injection for entire TS file
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  package.json
  pnpm-lock.yaml
  syntaxes/inline-template.json
  syntaxes/src/inline-template.ts
Labels: target: patch

#2066 build: release 18.1.2
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/package.json
  yarn.lock
Labels: area: build & ci

#2067 efix(extension): Allow requests to reach the language server when in c…
  client/src/client.ts
  client/src/embedded_support.ts
  client/src/tests/embedded_support_spec.ts
  integration/project/app/foo.component.html
  integration/project/app/foo.component.ts
Labels: target: patch, action: merge

#1967 refactor(syntaxes): Update embedded languages and block name
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  package.json
  pnpm-lock.yaml
  syntaxes/src/template-blocks.ts
  syntaxes/template-blocks.json
  syntaxes/test/data/template-blocks.html.snap
Labels: target: minor, action: merge

#2050 feat: integrate code refactorings from language-service via LSP
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  .vscode/tasks.json
  client/src/client.ts
  package.json
  pnpm-lock.yaml
  server/src/session.ts
  yarn.lock
Labels: target: minor, detected: feature
