Repository angular/vscode-ng-language-service, pull requests merged in 2025-08, with the labels that each got.

#2192 feat(language-service): support to report the deprecated API in the t…
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  package.json
  pnpm-lock.yaml
  server/package.json
  server/src/diagnostic.ts
  server/src/session.ts
  server/src/utils.ts
  yarn.lock
Labels: target: minor, action: merge, detected: feature

#2201 build: release 20.2.0
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/package.json
  yarn.lock
Labels: target: minor, area: build & ci

#2204 release: v20.2.1
  .aspect/rules/external_repository_action_cache/npm_translate_lock_LTE4Nzc1MDcwNjU=
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  server/package.json
  yarn.lock
Labels: target: minor, action: merge
